nav {
    border-bottom: 1px solid #050505;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;   
}

nav li {
    margin: 10px 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all ease 0.3s;
    text-align: center;
    display: inline-block;
    width: 75px;
}

nav a:hover {
    background-color: #101010;
}